<p>carta1 works!</p>

<div class="card-detail">
    <h1>{{ cardData.name }}</h1>
    
    <img [src]="cardData.image_uris.normal" alt="{{ cardData.name }}" class="card-image" />
    
    <div class="card-info">
      <p><strong>Rarity:</strong> {{ cardData.rarity }}</p>
      <p><strong>Mana Cost:</strong> {{ cardData.mana_cost }}</p>
      <p><strong>Colors:</strong> {{ cardData.colors.join(', ') }}</p>
      <p><strong>Description:</strong></p>
      <pre>{{ cardData.oracle_text }}</pre>
    </div>
  </div>