<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <img src="./assets/img/pngegg.png" alt="do sta?" id="logo">
    <h1>Mega Sito Nerd Pazzo Sgravato</h1>
    <li class="nav-item nav-link" routerLink="/" routerLinkActive="active-menu"> HOME</li>
    <li class="nav-item nav-link" routerLink="/carta1" routerLinkActive="active-menu"> Carta 1</li>
    <li class="nav-item nav-link" routerLink="/carta2" routerLinkActive="active-menu"> Carta 2</li>
    <li class="nav-item nav-link" routerLink="/carta3" routerLinkActive="active-menu"> Carta 3</li>
    <li class="nav-item nav-link" routerLink="/carta4" routerLinkActive="active-menu"> Carta 4</li>
    <li class="nav-item nav-link" routerLink="/carta5" routerLinkActive="active-menu"> Carta 5</li>
    <router-outlet></router-outlet>
</body>
</html>